{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container search__outer">
    <div class="row">
      <h1>Who delivers to you...</h1>
    </div>
    <div class="row">
      <div id="locationField" class="search__inner">
        <input id="autocomplete" class="search__autocomplete"type="textbox" placeholder="Enter your address">
        <input id="submit" class="search__submit" type="button" value="Submit">
      </div>
    </div>
    <div class="row">
      <div id="js-deliveries" class="results">
        <h2 id="resultsHeader">Results:</h2>
        <li id="deliveryDudes"><a href="https://deliverydudes.com" target="_blank"><img src="images/delivery-dudes-logo.jpg" alt="Delivery Dudes Logo"></a></li>
        <li id="biteSquad"><a href="http://www.bitesquad.com/" target="_blank"><img src="images/bite-squad-logo.jpg" alt="Bite Squad Logo"></a></li>
        <li id="postMates"><a href="https://postmates.com/" target="_blank"><img src="images/post-mates-logo.png" alt="Post Mates Logo"></a></li>
        <li id="grubHub"><a href="https://www.grubhub.com/" target="_blank"><img src="images/grub-hub-logo.png" alt="Grub Hub Logo"></a></li>
        <li id="uberEats"><a href="https://ubereats.com/miami/" target="_blank"><img src="images/uber-logo.png" alt="Uber Eats Logo"></a></li>
        <li id="yelpEat24"><a href="https://eat24hours.com/login" target="_blank"><img src="images/yelp-logo.png" alt="Yelp Eat24 Logo"></a></li>
      </div>
    </div>
  </div>
{% endblock %}
