{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1>Who delivers to you...</h1>
    </div>
    <div class="row">
      <input id="address" type="textbox" value="130 Rosales Court">
      <input id="submit" type="button" value="Geocode">
    </div>
    <div class="row">
      <div id="js-deliveries">

      </div>
    </div>
  </div>
{% endblock %}
