{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1>Who delivers to you...</h1>
    </div>
    <div class="row">
      <div id="locationField" class="search__wrapper">
        <input id="autocomplete" class="search__autocomplete"type="textbox" placeholder="Enter your address">
        <input id="submit" class="search__submit" type="button" value="Submit">
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div id="js-deliveries" class="results__wrapper">

      </div>
    </div>
  </div>
{% endblock %}
