$heading-font-family-script: 'McClatchy Slab', Georgia, Times, 'Times New Roman', serif;
$heading-font-family-sans: 'McClatchy Sans', Georgia, Times, 'Times New Roman', serif;
$body-font-family: 'McClatchy Sans', Georgia, Times, 'Times New Roman', serif;

$black: #000000;
$mh-blue: #0066b3;
$white: #FFFFFF;
$light-grey: #F2F2F2;
