.search {
  &__outer {
    padding: 1em;

    @include media($medium-screen-up) {
      padding: 0;
    }
  }
  &__inner {
    position: relative;
    margin-bottom: 2em;
  }

  &__autocomplete,
  &__submit {
    display: inline-block;
  }

  &__autocomplete {
    width: 75%;
    font-size: em(22);

    @include media($medium-screen-up) {
      font-size: 1em;
    }
  }

  &__submit{
    width: 24%;
  }
}

.results {
  &__checkbox {
    width: 100%;
    display: block;
    text-align: center;
    border-top: 1px solid $light-grey;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  li {
    @include span-columns(6 of 12);
    @include omega(2n);

    @include media($medium-screen-up) {
      @include omega-reset(2n);
      @include span-columns(4 of 12);
      @include omega(3n);
    }
    display: inline-block;
    background: $white;
    border: solid 10px $light-grey;
    padding: 5px;
    margin-bottom: 2.5px;

    a {
      background: transparent;
      text-decoration: none;
      color: $black;
    }

    img {
      vertical-align: top;
      width: 80px;
      margin: 0 auto 10px;
      display: block;
      filter: grayscale(100%);
      transition: filter 0.5s linear, padding 0.5s linear;
    }

    .fa {
      display: none;
      &-check {
        color: $green;
      }
      &-times {
        color: $red;
      }
    }

    &.does-deliver {
      .fa-check {
        display: block;
      }

      img {
        filter: grayscale(0%);
      }
    }

    &.does-not-deliver {
      .fa-times {
        display: block;
      }
    }
  }
}
